@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nosifer&family=Pacifico&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    min-height: calc(100vh - 60px);
    min-height: calc(100dvh - 60px);
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}
#active{
    color: red;
    opacity: 0.8;
}
.nav ul,.hide{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style: none;
    padding-left: 40px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
}
.nav ul li a:hover{
    color: #649568;
}
.logo{
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
span{
    font-family: 'Pacifico', cursive;
    color: red;
}
.span{
    color: #0077b5;

}
.ayu{
    font-size: 1.2rem;
    margin: 4% 5%;
}
.me{
    margin: 2% 0;
    font-size: 1.2rem;
}
.bar1, .bar2, .bar3 {
    width:30px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}
.menu-container{
    display: none;
    cursor: pointer;
}
.image-container{
    width: 28%;
}
.image-container > img{
    width: 100%;
    filter: grayscale(0);
    transition: 
        scale 750ms ease-out,
        filter 200ms ease-in-out;
}
.image-container:hover > img{
    scale: 1.1;
    filter: grayscale(1);
}
.content{
    display: flex;
    justify-content: center;
    padding: 1% 0;
    
}
.about-me{
    width: 40%;
    padding-left: 5%;
    text-align: justify;
    word-spacing: -2px;
    margin-top: 2%;
}
.footer{
    width: 80%;
    position: relative;
    bottom: 0;
    margin: 0 10%;

}
hr{
    opacity: 0.3;
}
.footer-p{
    display: flex;
    justify-content: center;
    opacity: 0.5;
    padding-top: 1%;
}
.social-links{
    display: flex;
    justify-content: center;
    padding: 0.5% 1%;

}
.social-links  li{
    list-style: none;
    padding: 0 10px;
}
.social-links  li a{
    text-decoration: none;
}
.fa-facebook{
    color:  #316FF6;
}
.fa-instagram{
    color: #d62976;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-github{
    color:#2b3137 ;
}
.skill{
    color: #0077b5;
    padding-top: 10px;
    font-size: 1.2rem;
}

/* image slider */


.slider{
    height: auto;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slider img{
    width: 100%;
}
.slider-track{
    display: flex;
    width: calc(100px*14);
    animation: scroll 40s linear infinite;
}
.slide{
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}
.nav-mobo{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.7s;
}   
.nav-mobo .nav-links,.social-links{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


.nav-mobo ul{
    padding: 5%;
}
.nav-mobo ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1% 0;

}
.nav-mobo ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 1s;
}
.nav-mobo .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: white;
  }
.nav-mobo ul li a:hover{
    color: #649568;
}
.nav-mobo .social-links li{
    padding: 0 5%;
}
#mobo{
    display: none;
}
#pc{
    display: block;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100px*7));
    }
}

@media only screen and (max-width: 900px) {
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-container{
        width: 60%;
        margin-bottom: 10%;
    }
    .about-me{
        min-width: 40%;
        text-align: justify;
        word-spacing: -2px;
        margin-top: 2%;
    }
    .about-me{
        width: 90%;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hide{
        display: none;
    }
    .image-container {
        position: relative;
        display: inline-block;
    }
    .image-container img {
        display: block;
        border-radius: 50%;
        overflow: hidden;
    }  
    .image-container::before {
        content: "";
        position: absolute;
        margin: -20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        border: 10px solid transparent;
        background: linear-gradient(to right, white, white), linear-gradient(to right,rgb(12, 238, 196), rgb(28, 110, 143));
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        border-radius: 50%;
        transition: transform 10s linear infinite;
        animation: rotate 10s linear infinite;
        z-index: -1; /* Ensure it's behind the image */
    }
    
    @keyframes rotate {
        100% {
            transform: rotate(1turn);
        }
    }
    




    .image-container:hover > img{
        scale: 1;
        filter: grayscale(0);
    }
    .about-me{
        padding: 0;
    }

    .nav-mobo a {
        font-size: 20px
    }
    .nav-mobo .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
    .skill{
        margin: 4% 0;
    }
    .slider{
        margin: 8% 0;
    }
    #pc{
        display: none;
    }
    #mobo{
        display: block;
    }
    .discription{
        width: fit-content;
    }
  }
  @media only screen and (max-width: 500px) {
    .nav{
        padding: 20px 20px;
    }
    .about-me{
        padding: 0;
    }
    #mobo{
        display: block;
    }
    .about-me{
        min-width: 40%;
        text-align: justify;
        word-spacing: -2px;
        margin-top: 2%;
    }

  }


#pre{
    z-index: 100;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    background-color: #2b3137;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media only screen and (max-width: 400px){

    .about-me{
        max-width: 90%;
        text-align: justify;
        word-spacing: -2px;
        margin-top: 2%;
    }

}